.Activity {
  padding: 50px 0;
  @include desktop {
    padding: 50px;
  }

  .category {
    font-weight: $font-weight-bold;
    padding-bottom: 20px;
    text-align: center;
  }
  .backBtn {
    font-size: 2rem;
  }
  .noMatchSection {
    padding-right: 50px;
    width: 100vw;
    @include flex();
    .noMatchSectionText {
      // width: 100%;

      @include flex(row, 30px, wrap, space-evenly);
    }
    .nomatchImg {
      max-width: 500px;
      @media screen and (max-width: $tablet) {
        max-width: 300px;
      }
      @media screen and (max-width: $mobile) {
        max-width: 250px;
      }
    }
  }
}
