.Activity {
  // height: 100vh; ///PROVVISORIO
  @include flex(column, 20px, nowrap, center, flex-start);

  .category {
    font-weight: $font-weight-bold;
    padding-bottom: 20px;
  }
  .backBtn {
    font-size: 2rem;
  }
  .noMatchSection {
    .noMatchSectionText {
      @include flex(row, 0, nowrap, space-between);
    }
    .nomatchImg {
      max-width: 500px;
    }
  }
}
