.notAvailable {
  width: 100%;
  padding: 100px;
  font-weight: bold;
  font-size: 2rem;
  color: $secundary-color-dark;
  text-align: center;
}
.AttractionsId {
  margin: 20px;

  @include flex(column, 20px, nowrap, center, flex-start);
  @include desktop {
    @include flex(row, 20px, nowrap, flex-start);
  }
  img {
    width: 100%;

    @include desktop {
      width: 30%;
    }
  }
  .text {
    @include flex(column, 20px, nowrap, center, flex-start);
    position: relative;
    .title {
      color: $primary-color-dark;
      font-weight: bold;
      text-align: center;
    }
    .categories {
      @include flex(row, 10px, wrap, flex-start);
      .category {
        text-align: center;
        background-color: $secundary-color-light;
        box-shadow: 4px 4px 4px;
      }
    }

    .officialSite {
      font-weight: $font-weight-bold;
      font-size: 1.2rem;

      padding: 5px;
      box-shadow: 4px 4px 4px;
      background-color: $secundary-color;
      cursor: pointer;
      transition: transform (0.35s);

      &:hover {
        transform: scale(1.2);
      }
    }

    .price {
      font-size: 1.5rem;
      font-weight: $font-weight-medium;
      background-color: $secundary-color;
      padding: 5px;
      box-shadow: 4px 4px 4px;
      position: absolute;
      bottom: -40%;
      right: 10px;
      cursor: pointer;
      transition: transform (0.35s);
      width: 120px;
      text-align: center;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
@media screen and (max-width: $tablet) {
  .AttractionsId {
    @include flex(column, 20px, nowrap, center, flex-start);

    img {
      width: 300px;
    }
  }
}

@media screen and (max-width: $mobile) {
  .AttractionsId {
    img {
      width: 250px;
    }
  }
}
