.Navbar {
  padding: 20px;
  background-color: $primary-color;
  box-shadow: 4px 4px 4px;
  z-index: 10;
  width: 100%;

  .wrapper {
    @include flex(row, 50px, nowrap, flex-end);

    li {
      cursor: pointer;
      transition: transform 0.35s;
      .literal {
        font-size: $font-size-base;
        color: $impression-color;
        font-weight: $font-weight-medium;
      }

      &:hover {
        transform: scale(1.2);
        color: $secundary-color-light;
      }

      .icon {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .Navbar {
    position: relative;
    .wrapper {
      li {
        .icon {
          display: flex;
          font-size: 1.5rem;
          color: $primary-color-light;
          &:hover {
            color: $secundary-color-light;
          }
        }
        .literal {
          display: none;
        }
      }
    }
  }
}
