$primary-color: #0e8388;
$primary-color-light: #cbe4de;
$primary-color-dark: #2e4f4f;
$secundary-color: #c85c8e;
$secundary-color-light: #ffbaba;
$secundary-color-dark: #9d3c72;

$dark: #2c3333;
$impression-color: #e1f8ff;
