@mixin flex(
  $flex-direction: column,
  $gap: 0px,
  $wrap: nowrap,
  $justify: center,
  $align: center
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-wrap: $wrap;
}

//MEDIA QUERY
$mobile: 350px;
$tablet: 768px;
$desktop: 1024px;

//PROVVISORIO
@media screen and (max-width:#{$mobile}) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    font-size: 0.8rem;
  }
}

//PROVVISORIO
@media screen and (max-width:#{$tablet}) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-size: 1rem;
  }
}
